{% extends 'main/base.html' %}
{% block title %}Leave comment for "{{ post.subject }}" {% endblock %}

{% block content %}
<form method="POST">
    <div class="mb-3">
        <label for="comment-textarea" class="form-label">Your comment</label>
        <textarea
            id="comment-textarea"
            name="comment"
            class="form-control"
            rows="4"
            required
            aria-describedby="comment-help"
        >{{ post.student_comment or '' }}</textarea>
        <div id="comment-help" class="form-text">
            Please provide your feedback or comments about this work
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit comment</button>
</form>
{% endblock %}