{% extends 'main/base.html' %}

{% block title %}Updating theme {{ post.subject }}{% endblock %}

{% block content %}
<form method="post" class="form-control d-flex flex-column gap-3 p-4">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label class="form-label">Subject</label>
        <input type="text" name="subject" class="form-control" value="{{ post.subject }}">
    </div>

    <div class="form-group">
        {{ form.student.label(class="form-label") }}
        {{ form.student(class="form-select") }}
    </div>

    <div class="form-group">
        <label class="form-label">Discipline</label>
        <input type="text" name="discipline" class="form-control" value="{{ post.discipline }}">
    </div>

    <div class="form-group">
        <label class="form-label">Group Number</label>
        <input type="text" name="group_number" class="form-control" value="{{ post.group_number }}">
    </div>

    <div class="form-group">
        <label class="form-label">Comment</label>
        <textarea name="comment" class="form-control" rows="3">{{ post.comment }}</textarea>
    </div>

    <div class="form-check form-switch">
        <input type="checkbox" name="is_checked" class="form-check-input" id="is_checked" {% if post.is_checked
               %}checked{% endif %}>
        <label class="form-check-label" for="is_checked">Is checked</label>
    </div>

    <button type="submit" class="btn btn-success mt-3">Update Theme</button>
</form>
{% endblock %}